*{
    font-family: Helvetica, sans-serif;
}
li.default{
    font-size: 120%;
    font-weight: bolder;
    color: rgb(182, 42, 200);
}


.gameboy{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
}


.cuerpirris{
    
    width: 400px;
    height: 600px;
    background-color: gold;
    padding: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 100px 0px 0px 80px;
}



.Pjuego{
    
    width: 380px;
    height: 295px;
    background-color: black;
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0px 0px 0px 0px;
}

.Pgris{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background-color: gray;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 30px 0px 0px 90px;
}

.boton{
    width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: 340px 0px 0px 220px;
}
.boton2{
    width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: -25px 0px 0px 150px;
}

.Cruzeta{
    box-sizing: border-box;
    width: 35px;
    height: 90px;
    background-color: black;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 150px 0px 0px 40px;
    opacity: 0.9;
    border: 1px solid black;
}

.Cruzeta2{
    box-sizing: border-box;
    width: 90px;
    height: 35px;
    background-color: black;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: -62px 0px 0px 12px;
    opacity: 0.9;
    border: 1px solid black;
}

.triangulo {
    width: 0; 
    height: 0; 
    border-right: 12px solid transparent;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 15px solid #000000;
    margin: -70px 0px 0px 45px;
}
.triangulo2 {
    width: 0; 
    height: 0; 
    border-right: 15px solid #000000;
     border-top: 10px solid transparent;
     border-bottom: 9px solid transparent;
    margin: 15px 0px 0px 17px;
}

.triangulo3 {
    width: 0; 
    height: 0; 
    
    border-left: 20px solid #000000;
     border-top: 10px solid transparent;
     border-bottom: 9px solid transparent; 
    margin: -19px 0px 0px 80px;
}
.triangulo4 {
    width: 0; 
    height: 0; 
     border-right: 12px solid transparent;
    border-top: 15px solid black;
    border-left: 12px solid transparent;
    margin: 15px 0px 0px 45px;
}

.bot{
    width: 30px;
     height: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: 50px 0px 0px 40px;
}

.bot2{
    width: 30px;
     height: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: -10px 0px 0px 100px;
}

.punto{
    width: 15px;
     height: 15px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #da0404;
     margin: -250px 0px 0px 8px;
}
.punto2{
    width: 5px;
     height: 5px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #ffffff;
     margin: -9.8px 0px 0px 12.5px;
     opacity: 0.6;
}

.luna {
    width: 5px; 
    height: 15px; 
    border: 2px solid rgb(94, 85, 85); 
    background: #ffffff;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    margin: -12px 0px 0px 27px;
}
.luna2{
    width: 5px; 
    height: 15px; 
    border: 2px solid rgb(94, 85, 85); 
    background: #ffffff;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    margin: -19px 0px 0px 38px;
}
.luna3 {
    width: 5px; 
    height: 15px; 
    border: 2px solid rgb(94, 85, 85); 
    background: #ffffff;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    margin: -19px 0px 0px 49px;
}

.son{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: 0px 0px 0px 200px;
}

.son2{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: -6px 0px 0px 235px;
}
.son3{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: -6px 0px 0px 270px;
}
.son4{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: 50px 0px 0px 180px;
}

.son5{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: 10px 0px 0px 216px;
}
.son6{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: -5px 0px 0px 255px;
}

.son7{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: 15px 0px 0px 200px;
}

.son8{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: -5px 0px 0px 235px;
}
.son9{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: -5px 0px 0px 265px;
}
.son10{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: -100px 0px 0px 180px;
}

.son11{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: 15px 0px 0px 220px;
}
.son12{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     margin: -6px 0px 0px 250px;
}

.sonA{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #96810c;
     margin: -67px 0px 0px 220px;
}

.sonA2{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #96810c;
     margin: -6px 0px 0px 252px;
}

.sonA3{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #96810c;
     margin: 11px 0px 0px 235px;
}

.sonA4{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #96810c;
     margin: 38px 0px 0px 235px;
}
.sonA5{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #96810c;
     margin: -29px 0px 0px 217px;
}
.sonA6{
    width: 6px;
     height: 6px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #96810c;
     margin: -5px 0px 0px 249px;
}

.txt {
    width: 50px;
    height: 50px;
    font-size: 100%;
    font-weight: normal ;
    color: rgb(255, 255, 255);
    margin: 0px 0px 0px 10px;
}
.txt2 {
    width: 50px;
    height: 50px;
    font-size: 150%;
    font-weight: bold ;
    color: rgb(61, 51, 51);
    margin: 266px 0px 0px 346px;
}
.txt3 {
    width: 50px;
    height: 50px;
    font-size: 150%;
    font-weight: bold ;
    color: rgb(61, 51, 51);
    margin: -25px 0px 0px 276px;
}

.txt4 {
    width: 50px;
    height: 50px;
    font-size: 80%;
    font-weight: bold ;
    color: rgb(230, 195, 0);
    margin: 60px 0px 0px 202px;
}
.txt5 {
    width: 50px;
    height: 50px;
    font-size: 80%;
    font-weight: bold ;
    color: rgb(230, 195, 0);
    margin: -50px 0px 0px 145px;
}

.oval {
    box-sizing: border-box;
    width: 85px;
    height: 20px;
    border: 3px solid rgb(230, 195, 0);
    
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: -255px 0px 0px 157px;
}
    

.txt6 {
    width: 50px;
    height: 50px;
    font-size: 80%;
    font-weight: bold ;
    color: rgb(230, 195, 0);
    margin: -24PX 0px 0px 170px;
}

.txt7 {
    width: 100px;
    height: 50px;
    font-family: cursive;
    font-size: 100%;
    font-weight: bold ;
    color: rgb(255, 255, 255);
    margin: -119PX 0px 0px 130px;
}
.txt8 {
    width: 100px;
    height: 50px;
    font-size: 100%;
    font-family: MV Boli;
    font-weight: bold ;
    color: rgb(230, 195, 0);
    margin: -45PX 0px 0px 222px;
}